<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <logger name="Normal">
      <appender-ref ref="CassandraAppender" />
    </logger>
    <logger name="Proxy">
      <appender-ref ref="ProxyCassandraAppender" />
    </logger>
    <appender name="CassandraAppender" type="CassandraLog4NetAppenderLibrary.Logging.Appender.CassandraAppender, CassandraLog4NetAppenderLibrary">
      <mapping>
        <level value="ALL" />
        <Host value="localhost" />
        <Port value="9160" />
        <AppName value="SampleConsoleApplication" />
        <KeyspaceName value="Logging" />
        <ColumnFamily value="LogEntries" />
        <PlacementStrategy value="org.apache.cassandra.locator.NetworkTopologyStrategy" />
        <StrategyOptions value="Cassandra:1" />
        <ReplicationFactor value="1" />
        <ConsistencyLevel value="QUORUM" />
        <MaxBufferedRows value="1" />
      </mapping>
    </appender>
    <appender name="ProxyCassandraAppender" type="CassandraLog4NetAppenderLibrary.Logging.Appender.CassandraAppender, CassandraLog4NetAppenderLibrary">
      <mapping>
        <level value="ALL" />
        <Host value="localhost" />
        <Port value="9160" />
        <AppName value="SampleConsoleApplication" />
        <KeyspaceName value="Logging" />
        <ColumnFamily value="LogEntries" />
        <PlacementStrategy value="org.apache.cassandra.locator.NetworkTopologyStrategy" />
        <StrategyOptions value="Cassandra:1" />
        <ReplicationFactor value="1" />
        <ConsistencyLevel value="QUORUM" />
        <MaxBufferedRows value="1" />
        <CassandraClientFactory value="CassandraLog4NetAppenderLibrary.Logging.ProxyCassandraClientFactory, CassandraLog4NetAppenderLibrary" />
      </mapping>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>