<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="CassandraAppender" />
    </root>
    <logger name="WhiteBoard">
      <appender-ref ref="CassandraAppender" />
    </logger>
    <appender name="CassandraAppender" type="CassandraLog4NetAppenderLibrary.Logging.Appender.CassandraAppender, CassandraLog4NetAppenderLibrary">
      <mapping>
        <level value="ALL" />
        <Hosts value="YOUR_HOST_NAME" />
        <Port value="YOUR_HOST_PORT" />
        <AppName value="SampleConsoleApplication" />
        <KeyspaceName value="Logging" />
        <ColumnFamily value="LogEntries" />
        <PlacementStrategy value="org.apache.cassandra.locator.NetworkTopologyStrategy" />
        <StrategyOptions value="Cassandra:1" />
        <ReplicationFactor value="1" />
        <ConsistencyLevelWrite value="QUORUM" />
        <MaxBufferedRows value="1" />
      </mapping>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>