<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="CassandraAppender" />
    </root>
    <logger name="WhiteBoard">
      <appender-ref ref="CassandraAppender" />
    </logger>
    <appender name="CassandraAppender" type="CassandraLog4NetAppenderLibrary.Logging.Appender.CassandraAppender, CassandraLog4NetAppenderLibrary">
      <mapping>
        <level value="ALL" />
        <Keyspace value="Logging" />
        <ColumnFamily value="LogEntries " />
        <ThriftAddress value="localhost" />
        <ThriftPort value="9160" />
        <KeyStrategy value="uuid" />
      </mapping>
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>