<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="WhiteBoardCassandraAppender" />
    </root>
    <logger name="WhiteBoard">
      <appender-ref ref="WhiteBoardCassandraAppender" />
    </logger>
    <appender name="WhiteBoardCassandraAppender" type="CassandraLog4NetAppenderLibrary.Logging.Appender.CassandraAppender, CassandraLog4NetAppenderLibrary">
      <mapping>
        <level value="ALL" />
      </mapping>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>